# Environment Configuration
NODE_ENV=production

# Server Ports
HTTP_PORT=80
HTTPS_PORT=443

# Azure Configuration
AZURE_STORAGE_ACCOUNT=
AZURE_STORAGE_KEY=
AZURE_STORAGE_CONTAINER=images

# Domain Configuration
APP_DOMAIN=uaecodes.com

# API Configuration
MAX_FILE_SIZE=30mb
